body {
    background-color:#FFF8F3;
    font-family: "Delius Swash Caps", sans-serif;
    text-align:center;
}

.base-btn {

    padding: 15px 30px;
    font-size: 18px;
    background-color: #FF8575;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.base-btn:hover {

    background-color: #FF5741;
}
